extends layout
block cont
    h3
        i(class="fas fa-book-reader") Story Blogs
    div(class="section")
        p(class="lead") Create Public and Private Stories from your Life Experience
    div(class="divider")
    div(class="section")
        a(href="/auth/google" class="btn red darken-1")
            i(class="fab fa-google left")  Log in with Google

block add